<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lep.lifeextenderplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeTab"
            android:label="@string/title_activity_home_tab"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatsTab"
            android:label="@string/title_activity_stats_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalsTab"
            android:label="@string/title_activity_goals_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapTab"
            android:label="@string/title_activity_map_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsTab"
            android:label="@string/title_activity_settings_tab"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>